.row {
  display: flex;
  flex-direction: column;
  
  
&__small {
  flex-direction: row;
}

&--t-padding {
  padding-top: 80px;
}

  @mixin atMedium {
    & {
      flex-direction: row;
    }
  }

  &__1 {
    /* width: 20%; */

    @mixin atSmall {
      width: 20%;  
    }
  }

  &__5 {
    /* width: 85%; */

    @mixin atSmall {
      width: 85%;
    }
  }

  &__justify-content-space-between {
    justify-content: space-between;
  }

  /* &__align-items-center {
    align-items: center;
  } */

  /* &__gutters {
    margin-right: -65px;
  } */

  &__gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  /* &__gutters > div {
    padding-right: 65px;
  } */

  &__gutters-large > div {
    padding-right: 100px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      flex: 1;
    }

    &__medium-6 {
      flex: 1;
    }
  
    &__medium-8 {
      flex: 2;
    }

    &--equal-height-at-medium {

      @mixin atLarge {
        display: flex;
      }

      & > div {
        display: flex;
      }
    }

    &--equal-height-at-large {

      @mixin atLarge {
        display: flex;
      }

      & > div {
        display: flex;
      }
    }
  }

  @mixin atLarge {
    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      flex: 1;
    }

    &__large-6 {
      flex: 1;
    }
  
    &__large-8 {
      flex: 2;
    }
  }

}